<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class = "login-container">
        <h1> Recipe Portal</h1>
        <p>Login to track your favorite ingredients!</p>
        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}
        <form action="/login" method="POST">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="login-btn">Log In/Sign Up</button>
        </form>
    </div>
</body>
</html>